.topImage {
	height: 200px;
	width: auto;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

h1 .lightblue, h2 .lightblue{
  color: #B0CCEB !important;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

p {  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
	text-align: center;
}
h2 {
	text-align: center;
}