@font-face {
  font-family: 'copperplate';
  src: url('../assets/copperplatelight.ttf') format ('ttf');
}

body {
  font-size: 14px;
  padding: 50px;
  padding-top: 80px;
}

a { color: #00B7FF; }
a:focus, a:hover {
  text-decoration: none;
}

p {
  color: gray;
  font-family: "Copperplate";
  font-weight: 300 !important;
  font-weight: normal !important;
}

.customNav {
  display: table; 
  margin: 0 auto;
}

ul#horizontal-list {
/*  min-width: 696px;
*/  list-style: none;
  padding-top: 40px;
  padding-left: 0px !important;
  display: block;
  margin-right: auto;
  margin-left: auto;
  }

ul#horizontal-list li {
  display: inline;
  margin-right: 40px;
  margin-left: 40px;
  font-family: "copperplate", sans-serif !important;
  color: #B0CCEB !important;
  font-size: 20px !important;
  text-decoration: none !important;
}

.navItem {
  font-size: 25px;
  font-weight: 200 !important;
      letter-spacing: 3px
}


.carousel-control.left {
  background-image: none !important;
}

.carousel-control.right {
  background-image: none !important;
}


.carousel-fade .carousel-inner .item {
  transition: 3.5s;

  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
/*    transition: all ease-in 3s;
*/
/*transition: 0.5s;
*/  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
/*  transition: 0.5s;
*/  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}


/*@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      transition: 0.5s;
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      transition: 0.5s;
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      transition: 3s;
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}*/

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
 
 
.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;
 
  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
 
  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.carousel {
  display: block;
  max-width: 690px;
  margin-right:auto;
  margin-left: auto;

}

.carousel-inner {
 /* width: 690px;
  height: 690px;*/
}

.inner-item {
    text-align: center;
    img {
        margin: 0 auto;
    }
}
 .carousel-inner > .item > img {
    margin: 0 auto;
/*    transition: 3.5s;
*/}

.carousel-inner .item {   
}

.item img {
height: 100%;
width: auto;
}
.carouselImg1 {
height: 690px !important;
border: 6px #B0CCEB solid;
}

.carouseImg2 {
height: 690px; 
width: 690px;
}

.item:nth-child(1) {
max-height: 690px; 
}

.item:nth-child(2) {
  max-height: 690px;
}

.item:nth-child(3) {
}




.georgiaFont {
  font-family: Georgia;
  font-weight: normal !important;
}

.copperplateFont {
  font-family: Copperplate, sans-serif;
  font-weight: 300 !important;
}

.panel-body {
  font-family: Georgia !important;
}

.panel-info {
  border-color: #B0CCEB !important;
}

.col-form-label {
  font-family: Georgia !important;
  color: #B0CCEB !important;
  font-weight: normal !important;
}

.panel-info>.panel-heading {
    color: #B0CCEB !important;
    background-color: #B0CCEB !important;
    border-color: #B0CCEB !important;
}

textarea {
   resize: none;
   border-radius: 4px;
   border: 1px solid #ccc;

}

input {
  border-radius: 3px;
  border: 1px solid #ccc;
}

 .bigSvg {
  padding-top: 50px;
    height: 590px;
    width: auto;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
.svgContainer {
  height: 590px;
}

.paymentSVG {
  /*height: 100%;
  width: 100%;*/
  display: block;
}

.errorMessage {
  background-color: #b0cceb;
  color: white;
  font-family: Copperplate, Georgia;
}

.errorMessage2 {
 color: #007000 !important;
  font-family: Copperplate, Georgia;
  width: 360px;
/*  padding: 3px;
*/}

.btn {
  border-radius: 3px !important;
  font-family: Copperplate !important;
}

.openclose1, .openclose2, .openclose3, .openclose4 {
  color: #B0CCEB;
  font-family: Copperplate !important;
}

.lightblue {
 color: #B0CCEB !important;
}

.payCard {
  float: right !important;
}

.parDescription {
  padding-right: 230px;
  padding-top: 10px;
}

h2 {
    color: #B0CCEB !important;
  font-family: Copperplate, Georgia !important;
}

h3 {
  color: #B0CCEB !important;
  font-family: Copperplate, Georgia !important  ;
}

.btn {
  background-color: #B0CCEB !important ;
  border: none !important;
}
.fa { display:inline; }

.fa-angle-down, .fa-angle-up {
  margin-left: 10px ;
  font-size: 160%;
    color: #B0CCEB;
}

.fa-instagram, .fa-pinterest, .fa-envelope {
  font-size: 145%;
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: none;
  color: #B0CCEB !important;
}

.fa-instagram:hover, .fa-pinterest:hover, .fa-envelope:hover {
  opacity: 0.5;
  text-decoration: none !important;
}

.footerArea {
  padding-top: 100px;
}

.footerArea2 {
  margin-top: 100px;
}

a:hover {
  text-decoration: none !important;
}

/*****TOP DROP****/
.TopDrop_LightGold {
  background-image: url('../assets/Tops/TopDrop_LightGold.png');
  background-size: 110%;
  background-position: center;
}
.TopDrop_Canary {
  background-image: url('../assets/Tops/TopDrop_Canary.png');
  background-size: 110%;
  background-position: center;
}
.TopDrop_Peach {
   background-image: url('../assets/Tops/TopDrop_Peach.png');
   background-size: 110%;
  background-position: center;
}
.TopDrop_Apricot {
   background-image: url('../assets/Tops/TopDrop_Apricot.png');
   background-size: 110%;
  background-position: center;
}
.TopDrop_Coral {
   background-image: url('../assets/Tops/TopDrop_Coral.png');
  background-size: 110%;
  background-position: center;
}
.TopDrop_HotPink {
  background-image: url('../assets/Tops/TopDrop_HotPink.png');
  background-size: 110%;
  background-position: center;
}
.TopDrop_Red {
  background-image: url('../assets/Tops/TopDrop_Red.png');
  background-size: 110%;
  background-position: center;
}
.TopDrop_Fuchsia {
  background-image: url('../assets/Tops/TopDrop_Fuchsia.png');
  background-size: 110%;
  background-position: center;
}
.TopDrop_Cobalt {
  background-image: url('../assets/Tops/TopDrop_Cobalt.png');
  background-size: 110%;
  background-position: center;
}
.TopDrop_SkyBlue {
  background-image: url('../assets/Tops/TopDrop_SkyBlue.png');
  background-size: 110%;
  background-position: center;
}
.TopDrop_BabyBlue {
  background-image: url('../assets/Tops/TopDrop_BabyBlue.png');
  background-size: 110%;
  background-position: center;
}
.TopDrop_Silver {
  background-image: url('../assets/Tops/TopDrop_Silver.png');
  background-size: 110%;
  background-position: center;
}



/******OTHER DROPS******************/
.LightGold {
  background-image: url('../assets/balls/LightGold.png');
  background-size: 110%;
  background-position: center;
}
.Canary {
  background-image: url('../assets/balls/Canary.png');
  background-size: 110%;
  background-position: center;
}
.Peach {
   background-image: url('../assets/balls/Peach.png');
   background-size: 110%;
  background-position: center;
}
.Apricot {
   background-image: url('../assets/balls/Apricot.png');
   background-size: 110%;
  background-position: center;
}
.Coral {
   background-image: url('../assets/balls/Coral.png');
  background-size: 110%;
  background-position: center;
}
.HotPink {
  background-image: url('../assets/balls/HotPink.png');
  background-size: 110%;
  background-position: center;
}
.Red {
  background-image: url('../assets/balls/Red.png');
  background-size: 110%;
  background-position: center;
}
.Fuchsia {
  background-image: url('../assets/balls/Fuchsia.png');
  background-size: 110%;
  background-position: center;
}
.Cobalt {
  background-image: url('../assets/balls/Cobalt.png');
  background-size: 110%;
  background-position: center;
}
.SkyBlue {
  background-image: url('../assets/balls/SkyBlue.png');
  background-size: 110%;
  background-position: center;
}
.BabyBlue {
  background-image: url('../assets/balls/BabyBlue.png');
  background-size: 110%;
  background-position: center;
}
.Silver {
  background-image: url('../assets/balls/Silver.png');
  background-size: 110%;
  background-position: center;
}

.titleImageOne {
  display: inline-block;
   width: 150px !important;
  height: 60px !important;
  background-image: url('../assets/drop1type.png');
   background-size: 100%;
  background-position: center;
  margin-left: 5px;
}
.titleImageTwo {
  display: inline-block;
   width: 150px !important;
  height: 60px !important;
  background-image: url('../assets/drop2type.png');
   background-size: 100%;
  background-position: center;
    margin-left: 5px;

}
.titleImageThree {
  display: inline-block;
   width: 150px !important;
  height: 60px !important;
  background-image: url('../assets/drop3type.png');
   background-size: 100%;
  background-position: center;
    margin-left: 5px;

}
.titleImageFour {
  display: inline-block;
   width: 150px !important;
  height: 60px !important;
  background-image: url('../assets/drop4type.png');
   background-size: 100%;
  background-position: center;
    margin-left: 5px;

}

.smallCircle {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: solid 1px #B0CCEB;
  display: inline-block;
  margin-right: 20px;
  margin-top: 10px;

}


.earringCircle {
  cursor: pointer;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  display: inline-block;
}

.dropOneTitle, .dropTwoTitle, .dropThreeTitle, .dropFourTitle {
  cursor: pointer;
  font-size: 14px;
  display: inline-block;
  position: relative;
}

.dropOneTitle {
  padding-top: 50px;
}
.direction {
  font-family: Copperplate;
  display: inline;
  padding-right: 10px;
  padding-top: 20px;
}

.dropDown1, .dropDown2, .dropDown3, .dropDown4 {
  width: 350px;
  height: 0px;
  overflow: hidden;
  transition: .5s all ease-in;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 5px;
  margin-bottom: 8px;
}

.createImage {
  width: 550px;
  height: auto;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.headerImage {
  cursor: pointer;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.heroImage {
  height: 720px;
  width: auto;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.customorders {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 100px;
  padding-top: 20px;
}

.svgContainer {
  padding-left: 100px;
}

.fullSize {
  height: 340px;
}

.hideForm {
  display: none;
}

.showForm {
  display: block;
  transition: 0.5s all ease-in;
}

.redFont {
  color: red;
}

.reveal {
  height: 100px;
}

.specialHr {
  width: 60%;
  margin-left: 0px;
}

@media only screen and (min-width: 1700px){
  .parDescription {
    padding-right: 400px;
  }
  .customorders {
    padding-left: 320px;
  }

  .svgContainer {
    padding-left: 320px;
  }

}

@media only screen and (max-width: 1350px){
  textarea {
    width: 230px;
  }
}

@media only screen and (max-width: 1200px){
  .bigSvg {
    height: 480px;
    width: auto;
  }
  .titleImageOne, .titleImageTwo, .titleImageThree, .titleImageFour {
    width: 100px !important;
    height: 40px !important;
    margin-left: 40px;
  }
  ul#horizontal-list li {
      margin-right: 20px;
      margin-left: 20px;
      font-size: 20px !important;
      font-weight: 300 !important;
      text-decoration: none !important;
    }

    .navItem {
      font-size: 20px;
      font-weight: 300 !important;
    }
      .titleImageOne, .titleImageTwo, .titleImageThree, .titleImageFour {
    margin-top: 15px !important;
  } 
}

@media only screen and (max-width: 1100px){
  textarea {
    width: 200px;
  }
  .createImage {
    width: 650px;
  }
   .customorders {
      padding-left: 0px !important;
    }
  .svgContainer {
  padding-left: 0px;
}
}

@media only screen and (max-width: 1030px){
      ul#horizontal-list li {
      margin-right: 20px;
      margin-left: 20px;
      font-size: 20px !important;
      font-weight: 300 !important;
      text-decoration: none !important;
    }

 
    .navItem {
      font-size: 18px;
      font-weight: 200 !important;
      letter-spacing: 2px;
    }


    .parDescription {
/*      padding-left: 50px;
*/      padding-right: 0px;
      padding-top: 10px;
      width: 100%;
    }
}

@media only screen and (max-width: 900px){

 .createImage {
    width: 500px;
  }

  .carouselImg1 {
    height: 590px !important;
  }

  .carouselImg2 {
    height: 590px !important; 
    width: 590px !important;
  }
   .navItem {
      font-size: 18px;
      letter-spacing: 1px;
    }
}

@media only screen and (max-width: 800px){

  ul#horizontal-list li {
      margin-right: 15px;
      margin-left: 15px;
    }

   .createImage {
      width: 500px;
    }
    .navItem {
      font-size: 18px;
    }
  
  .titleImageOne, .titleImageTwo, .titleImageThree, .titleImageFour {
    margin-left: 50px !important;
  }
}


@media only screen and (max-width: 760px){
  .bigSvg {
    height: 380px;
    width: auto;
  }
    textarea {
    width: 260px;
  }

  .carouselImg1 {
    height: 478px !important;
  }

  .carouselImg2 {
    height: 490px !important; 
    width: 490px !important;
  }

    ul#horizontal-list li {
      margin-right: 5px;
      margin-left: 5px;
    }

    .navItem {
      font-size: 16px;
    }

  .titleImageOne, .titleImageTwo, .titleImageThree, .titleImageFour {
    margin-top: 5px !important;
  }

  .earringCircle {
    width: 60px;
    height: 60px;
    margin-left: 6px;
    margin-right: 6px;

  }
  .smallCircle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: solid 1px #B0CCEB;
    display: inline-block;
    margin-right: 5px;
    margin-top: 5px;
    margin-left: 10px;
  }
    .dropDown1, .dropDown2, .dropDown3, .dropDown4 {
    width: 220px;
  }
}


@media only screen and (max-width: 650px){
  .createImage {
      width: 420px;
    }
  .heroImage {
    height: 500px;
  }
    .carouselImg1 {
    height: 418px !important;
  }

  .carouselImg2 {
    height: 430px !important; 
    width: 430px !important;
  }
ul#horizontal-list li {
      margin-right: 5px;
      margin-left: 5px;
    }

    .navItem {
      font-size: 13px;
      letter-spacing: 0px;
    }
    .headerImage {
      height: 150px;
      width: auto;
    }
}


@media only screen and (max-width: 500px){
  .payCard {
    float: none !important;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .placeOrder {
    float: none !important;
    margin-top: 20px;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .carouselImg1 {
    height: 378px !important;
  }

  .carouselImg2 {
    height: 390px !important; 
    width: 390px !important;
  }

  .carousel {
  display: block;
  margin-right:auto;
  margin-left: auto;
}

  textarea {
    margin-bottom: 15px;
  }
  .parDescription {
    padding-top: 15px;
    padding-right: 5px;
  }
  .footerArea {
    padding-top: 50px;
  }

  .svgContainer {
    height: 260px;
    padding-top: 0px !important;
  }

  .footerArea2 {
    margin-top: 70px;
  }

  .createImage {
    width: 270px;
    height: auto;
  }
  .bigSvg {
    height: 230px;
    width: auto;
    background-repeat: no-repeat;
  }

  .smallCircle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: solid 1px #B0CCEB;
    display: inline-block;
    margin-right: 5px;
    margin-top: 5px;
    margin-left: 10px;
  }

  .direction {
    padding-top: 5px;
  }

  .fa-angle-up, .fa-angle-down {
    margin-left: 5px;
  }

  .customorders {
    height: 150px;
    width: auto;
  }

  .headerImage {
    height: 100px;
    width: auto;
  }

  .heroImage {
    height: 200px;
    width: auto;
  }
  .titleImageOne, .titleImageTwo, .titleImageThree, .titleImageFour {
    width: 80px !important;
    height: 40px !important;
    margin-left: 25px !important;
    background-repeat: no-repeat;
  }

  .openclose1, .openclose2, .openclose3, .openclose4 {
    font-size: 70% !important;
  }
  .dropDown1, .dropDown2, .dropDown3, .dropDown4 {
    width: 180px;
  }
  .fullSize {
    height: 150px;
  }
  .earringCircle {
    cursor: pointer;
    width: 35px;
    height: 35px;
     margin-left: 4px;
  margin-right: 4px;
  margin-top: 2px;
  }
  body {
    padding: 10px !important;
  }

  .payCard {
    margin-bottom: 50px !important;
    float: none;
  }

  .dropDownArea {
    margin-left: 5px;
  }
  .dropOneTitle {
    padding-top: 34px;
  }
  .customorders {
    padding-left: 0px;
    margin-bottom: 20px;
/*    padding-bottom: 20px;
*/  }

  .centerSmall {
    text-align: center;
  }

  .specialHr {
    width: 100%;
  }
     .navItem {
      font-size: 13px;
      letter-spacing: 0px;
    }
    ul#horizontal-list li {
      margin-right: 3px;
      margin-left: 3px;
    }
}

@media only screen and (max-width: 440px){

  ul#horizontal-list {
    padding-top: 20px;
  }

   ul#horizontal-list li {
      margin-right: 3px;
      margin-left: 3px;
    }

    .navItem {
      font-size: 13px;
      letter-spacing: 0px;
    }

    .carouselImg1 {
    height: 340px !important;
  }

  .carouselImg2 {
    height: 340px !important; 
    width: 340px !important;
  }

}

@media only screen and (max-width: 420px){

.titleImageOne, .titleImageTwo, .titleImageThree, .titleImageFour {
    margin-top: 1px !important;
  }
}

@media only screen and (max-width: 375px){

    .carouselImg1 {
    height: 300px !important;
  }

  .carouselImg2 {
    height: 300px !important; 
    width: 300px !important;
  } 

  
}


@media only screen and (max-width: 330px){
      .carouselImg1 {
    height: 280px !important;
  }

  .carouselImg2 {
    height: 280px !important; 
    width: 280px !important;
  }
   ul#horizontal-list li {
      margin-right: 2px;
      margin-left: 2px;
    }

    .navItem {
      font-size: 10px;
      letter-spacing: 0px;
    }

  .openclose1, .openclose2, .openclose3, .openclose4 {
    font-size: 54% !important;
  }
  .direction {
    margin-top: 7px;
  }

  .fa-angle-down, .fa-angle-up {
    font-size: 100%;
  }
    .earringCircle {
    cursor: pointer;
    width: 30px;
    height: 30px;
     margin-left: 4px;
  margin-right: 4px;
  margin-top: 2px;
  }

  .fullSize {
    height: 120px;
  }

  .direction {
    padding-top: 0px;
  }
  .titleImageOne, .titleImageTwo, .titleImageThree, .titleImageFour {
    width: 60px !important;
    height: 30px !important;
    margin-left: 25px;
    background-repeat: no-repeat;
  }

}
