<div ng-controller="MainController" class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <img class="headerImage" src="assets/rdr_logo.png"/>
            </div>
         </div>

        <div class="row customNav">
              <ul id="horizontal-list">
                <li><a class="lightblue navItem" href="/">CREATE</a></li>
                <li><a class="lightblue navItem" href="https://rebecca-de-ravenel-the-goombay-bazaar-llc.myshopify.com/pages/about-us">ABOUT</a></li>
                <li><a class="lightblue navItem" href="https://rebecca-de-ravenel-the-goombay-bazaar-llc.myshopify.com/pages/press">PRESS</a></li>
                <li><a class="lightblue navItem" href="https://rebecca-de-ravenel-the-goombay-bazaar-llc.myshopify.com/pages/stockists">STOCKISTS</a></li>
                <li><a class="lightblue navItem" href="https://rebecca-de-ravenel-the-goombay-bazaar-llc.myshopify.com/pages/contact">CONTACT</a></li>
              </ul>
        </div>

          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <img class="createImage" src="assets/CreateAndDatesHeader.png"/>
           </div>
          </div>

           <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12" >

                     <div id="carouselHacked" class="carousel slide carousel-fade " data-ride="carousel">
                          <!-- Wrapper for slides -->
                          <div class="carousel-inner fade-in">
                              <div class="item active">
                                <img class="carouselImg1 center-block" src="/assets/RDR_new_hero2.jpg"/>
                              </div>
                              <div class="item">
                                <img class="carouselImg2 center-block" src="/assets/rdr_spectrum.jpg"/>
                              </div>
                          </div>
                      </div>
                </div>
            </div>

              <div class ="row">
                  <div class="col-lg-6 col-md-6 col-sm-5 col-xs-5">
                  <?xml version="1.0" encoding="utf-8"?>
                  <div class="svgContainer">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="0" height="0">
                          <defs>
                            <pattern id="topCircle" x="0" y="0" height="1" width="1">
                              <image class="circleDims1" width="104px" height="104px" xlink:href="{{topCircleColor}}"/>
                            </pattern>
                            <pattern id="secondCircle" x="0" y="0" height="1" width="1">
                              <image class="circleDims2" width="111px" height="110px" xlink:href="{{secondCircleColor}}"/>
                            </pattern>
                            <pattern id="thirdCircle" x="0" y="0" height="1" width="1">
                              <image class="circleDims3" width="137" height="136" xlink:href="{{thirdCircleColor}}"/>
                            </pattern>
                            <pattern id="fourthCircle" x="0" y="0" height="1" width="1">
                              <image class="circleDims4" width="173" height="172" xlink:href="{{fourthCircleColor}}"/>
                            </pattern>
                          </defs>
                    </svg>
                    <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                      style="height: 100%; width: 100%" class="bigSvg" viewBox="0 0 414 617">

                    <style type="text/css">
                      .st0{fill:url(#SVGID_1_);}
                      .st1{fill:url(#SVGID_2_);}
                      .st2{fill:url(#SVGID_3_);}
                      .st3{fill:url(#SVGID_4_);}
                      .st4{fill:url(#SVGID_5_);}
                      .st5{fill:url(#SVGID_6_);}
                      .st6{fill:url(#SVGID_7_);}
                      .st7{fill:url(#SVGID_8_);}
                      .st8{fill:url(#SVGID_9_);}
                      .st9{fill:#FFFFFF;stroke:#939598;stroke-width:0.5;stroke-miterlimit:10;}
                      .st10{fill:url(#SVGID_10_);}
                      .st11{fill:url(#SVGID_11_);}
                      .st12{fill:url(#SVGID_12_);}
                      .st13{fill:url(#SVGID_13_);}
                      .st14{fill:url(#SVGID_14_);}
                      .st15{fill:url(#SVGID_15_);}
                      .st16{fill:url(#SVGID_16_);}
                      .st17{fill:url(#SVGID_17_);}
                      .st18{fill:url(#SVGID_18_);}
                      .left1, .right1 {
                        fill:url(#topCircle);
                        stroke:#939598;
                        stroke-width:0.5;
                        stroke-miterlimit:10;
                      }

                      .left2, .right2 {
                        fill:url(#secondCircle);
                        stroke:#939598;
                        stroke-width:0.5;
                        stroke-miterlimit:10;
                      }
                      .left3, .right3 {
                        fill:url(#thirdCircle);
                        stroke:#939598;
                        stroke-width:0.5;
                        stroke-miterlimit:10;
                      }
                      .left4, .right4 {
                        fill:url(#fourthCircle);
                        stroke:#939598;
                        stroke-width:0.5;
                        stroke-miterlimit:10;
                        image-rendering: -moz-crisp-edges;         /* Firefox */
                        image-rendering:   -o-crisp-edges;         /* Opera */
                        image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
                        image-rendering: crisp-edges;
                        -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
                      }
                    </style>

                            <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="90.8" y1="436.3" x2="103.2" y2="436.3" gradientTransform="matrix(1 0 0 -1 0 574)">
                            <stop  offset="5.618000e-03" style="stop-color:#EBC17D"/>
                            <stop  offset="0.1854" style="stop-color:#DFB77C"/>
                            <stop  offset="0.5955" style="stop-color:#C08329"/>
                            <stop  offset="0.7976" style="stop-color:#DCAC68"/>
                            <stop  offset="0.8708" style="stop-color:#EABE81"/>
                            <stop  offset="1" style="stop-color:#EEDCC3"/>
                          </linearGradient>
                          <path class="st0" d="M98.1,147.6h-2.2c-2.8,0-5.1-2.3-5.1-5.1v-9.6c0-2.8,2.3-5.1,5.1-5.1h2.2c2.8,0,5.1,2.3,5.1,5.1v9.6
                            C103.2,145.3,100.9,147.6,98.1,147.6z M100.2,141.7v-8c0-1.5-1.2-2.6-2.6-2.6h-1.2c-1.5,0-2.6,1.2-2.6,2.6v8
                            c0,1.5,1.2,2.6,2.6,2.6h1.2C99,144.3,100.2,143.2,100.2,141.7z"/>

                            <linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="90.8" y1="459.1" x2="103.2" y2="459.1" gradientTransform="matrix(1 0 0 -1 0 574)">
                            <stop  offset="5.618000e-03" style="stop-color:#EBC17D"/>
                            <stop  offset="0.1854" style="stop-color:#DFB77C"/>
                            <stop  offset="0.5955" style="stop-color:#C08329"/>
                            <stop  offset="0.7976" style="stop-color:#DCAC68"/>
                            <stop  offset="0.8708" style="stop-color:#EABE81"/>
                            <stop  offset="1" style="stop-color:#EEDCC3"/>
                          </linearGradient>

                          <path class="st1"
                          d="M98.1,124.8h-2.2c-2.8,0-5.1-2.3-5.1-5.1v-9.6c0-2.8,2.3-5.1,5.1-5.1h2.2c2.8,0,5.1,2.3,5.1,5.1v9.6                          C103.2,122.5,100.9,124.8,98.1,124.8z M100.2,118.9v-8c0-1.5-1.2-2.6-2.6-2.6h-1.2c-1.5,0-2.6,1.2-2.6,2.6v8
                            c0,1.5,1.2,2.6,2.6,2.6h1.2C99,121.5,100.2,120.3,100.2,118.9z"/>

                            <linearGradient id="SVGID_3_" gradientUnits="userSpaceOnUse" x1="94.8817" y1="447.7" x2="99.099" y2="447.7" gradientTransform="matrix(1 0 0 -1 0 574)">
                            <stop  offset="5.618000e-03" style="stop-color:#EBC17D"/>
                            <stop  offset="0.1854" style="stop-color:#DFB77C"/>
                            <stop  offset="0.5955" style="stop-color:#C08329"/>
                            <stop  offset="0.7976" style="stop-color:#DCAC68"/>
                            <stop  offset="0.8708" style="stop-color:#EABE81"/>
                            <stop  offset="1" style="stop-color:#EEDCC3"/>
                          </linearGradient>
                          <path class="st2" d="M97.4,136.4h-0.8c-1,0-1.7-0.8-1.7-1.7v-16.8c0-1,0.8-1.7,1.7-1.7h0.8c1,0,1.7,0.8,1.7,1.7v16.8
                            C99.1,135.6,98.3,136.4,97.4,136.4z"/>
                        </g>
                        <g>

                            <linearGradient id="SVGID_4_" gradientUnits="userSpaceOnUse" x1="90.8" y1="297.9" x2="103.2" y2="297.9" gradientTransform="matrix(1 0 0 -1 0 574)">
                            <stop  offset="5.618000e-03" style="stop-color:#EBC17D"/>
                            <stop  offset="0.1854" style="stop-color:#DFB77C"/>
                            <stop  offset="0.5955" style="stop-color:#C08329"/>
                            <stop  offset="0.7976" style="stop-color:#DCAC68"/>
                            <stop  offset="0.8708" style="stop-color:#EABE81"/>
                            <stop  offset="1" style="stop-color:#EEDCC3"/>
                          </linearGradient>
                          <path class="st3" d="M98.1,286h-2.2c-2.8,0-5.1-2.3-5.1-5.1v-9.6c0-2.8,2.3-5.1,5.1-5.1h2.2c2.8,0,5.1,2.3,5.1,5.1v9.6
                            C103.2,283.7,100.9,286,98.1,286z M100.2,280.1v-8c0-1.5-1.2-2.6-2.6-2.6h-1.2c-1.5,0-2.6,1.2-2.6,2.6v8c0,1.5,1.2,2.6,2.6,2.6
                            h1.2C99,282.8,100.2,281.6,100.2,280.1z"/>

                            <linearGradient id="SVGID_5_" gradientUnits="userSpaceOnUse" x1="90.8" y1="320.7" x2="103.2" y2="320.7" gradientTransform="matrix(1 0 0 -1 0 574)">
                            <stop  offset="5.618000e-03" style="stop-color:#EBC17D"/>
                            <stop  offset="0.1854" style="stop-color:#DFB77C"/>
                            <stop  offset="0.5955" style="stop-color:#C08329"/>
                            <stop  offset="0.7976" style="stop-color:#DCAC68"/>
                            <stop  offset="0.8708" style="stop-color:#EABE81"/>
                            <stop  offset="1" style="stop-color:#EEDCC3"/>
                          </linearGradient>
                          <path class="st4" d="M98.1,263.2h-2.2c-2.8,0-5.1-2.3-5.1-5.1v-9.6c0-2.8,2.3-5.1,5.1-5.1h2.2c2.8,0,5.1,2.3,5.1,5.1v9.6
                            C103.2,260.9,100.9,263.2,98.1,263.2z M100.2,257.3v-8c0-1.5-1.2-2.6-2.6-2.6h-1.2c-1.5,0-2.6,1.2-2.6,2.6v8
                            c0,1.5,1.2,2.6,2.6,2.6h1.2C99,259.9,100.2,258.8,100.2,257.3z"/>

                            <linearGradient id="SVGID_6_" gradientUnits="userSpaceOnUse" x1="94.8817" y1="309.3" x2="99.099" y2="309.3" gradientTransform="matrix(1 0 0 -1 0 574)">
                            <stop  offset="5.618000e-03" style="stop-color:#EBC17D"/>
                            <stop  offset="0.1854" style="stop-color:#DFB77C"/>
                            <stop  offset="0.5955" style="stop-color:#C08329"/>
                            <stop  offset="0.7976" style="stop-color:#DCAC68"/>
                            <stop  offset="0.8708" style="stop-color:#EABE81"/>
                            <stop  offset="1" style="stop-color:#EEDCC3"/>
                          </linearGradient>
                          <path class="st5" d="M97.4,274.8h-0.8c-1,0-1.7-0.8-1.7-1.7v-16.8c0-1,0.8-1.7,1.7-1.7h0.8c1,0,1.7,0.8,1.7,1.7v16.8
                            C99.1,274,98.3,274.8,97.4,274.8z"/>
                        </g>
                        <g>

                            <linearGradient id="SVGID_7_" gradientUnits="userSpaceOnUse" x1="90.8" y1="135.9" x2="103.2" y2="135.9" gradientTransform="matrix(1 0 0 -1 0 574)">
                            <stop  offset="5.618000e-03" style="stop-color:#EBC17D"/>
                            <stop  offset="0.1854" style="stop-color:#DFB77C"/>
                            <stop  offset="0.5955" style="stop-color:#C08329"/>
                            <stop  offset="0.7976" style="stop-color:#DCAC68"/>
                            <stop  offset="0.8708" style="stop-color:#EABE81"/>
                            <stop  offset="1" style="stop-color:#EEDCC3"/>
                          </linearGradient>
                          <path class="st6" d="M98.1,448h-2.2c-2.8,0-5.1-2.3-5.1-5.1v-9.6c0-2.8,2.3-5.1,5.1-5.1h2.2c2.8,0,5.1,2.3,5.1,5.1v9.6
                            C103.2,445.7,100.9,448,98.1,448z M100.2,442.1v-8c0-1.5-1.2-2.6-2.6-2.6h-1.2c-1.5,0-2.6,1.2-2.6,2.6v8c0,1.5,1.2,2.6,2.6,2.6
                            h1.2C99,444.8,100.2,443.6,100.2,442.1z"/>

                            <linearGradient id="SVGID_8_" gradientUnits="userSpaceOnUse" x1="90.8" y1="158.7" x2="103.2" y2="158.7" gradientTransform="matrix(1 0 0 -1 0 574)">
                            <stop  offset="5.618000e-03" style="stop-color:#EBC17D"/>
                            <stop  offset="0.1854" style="stop-color:#DFB77C"/>
                            <stop  offset="0.5955" style="stop-color:#C08329"/>
                            <stop  offset="0.7976" style="stop-color:#DCAC68"/>
                            <stop  offset="0.8708" style="stop-color:#EABE81"/>
                            <stop  offset="1" style="stop-color:#EEDCC3"/>
                          </linearGradient>
                          <path class="st7" d="M98.1,425.2h-2.2c-2.8,0-5.1-2.3-5.1-5.1v-9.6c0-2.8,2.3-5.1,5.1-5.1h2.2c2.8,0,5.1,2.3,5.1,5.1v9.6
                            C103.2,422.9,100.9,425.2,98.1,425.2z M100.2,419.3v-8c0-1.5-1.2-2.6-2.6-2.6h-1.2c-1.5,0-2.6,1.2-2.6,2.6v8
                            c0,1.5,1.2,2.6,2.6,2.6h1.2C99,422,100.2,420.8,100.2,419.3z"/>

                            <linearGradient id="SVGID_9_" gradientUnits="userSpaceOnUse" x1="94.8817" y1="147.2" x2="99.099" y2="147.2" gradientTransform="matrix(1 0 0 -1 0 574)">
                            <stop  offset="5.618000e-03" style="stop-color:#EBC17D"/>
                            <stop  offset="0.1854" style="stop-color:#DFB77C"/>
                            <stop  offset="0.5955" style="stop-color:#C08329"/>
                            <stop  offset="0.7976" style="stop-color:#DCAC68"/>
                            <stop  offset="0.8708" style="stop-color:#EABE81"/>
                            <stop  offset="1" style="stop-color:#EEDCC3"/>
                          </linearGradient>
                          <path class="st8" d="M97.4,436.9h-0.8c-1,0-1.7-0.8-1.7-1.7v-16.8c0-1,0.8-1.7,1.7-1.7h0.8c1,0,1.7,0.8,1.7,1.7v16.8
                            C99.1,436.1,98.3,436.9,97.4,436.9z"/>
                        </g>
                        <g>
                          <circle class="left1" cx="97" cy="59.8" r="51.8"/>
                          <circle class="left2" cx="97" cy="195.2" r="55.2"/>
                          <circle class="left3" cx="97" cy="345.6" r="66.5"/>
                          <circle class="left4" cx="97" cy="525" r="84.3"/>
                        </g>
                        <g>

                            <linearGradient id="SVGID_10_" gradientUnits="userSpaceOnUse" x1="309.3174" y1="436.3" x2="321.7174" y2="436.3" gradientTransform="matrix(1 0 0 -1 0 574)">
                            <stop  offset="5.618000e-03" style="stop-color:#EBC17D"/>
                            <stop  offset="0.1854" style="stop-color:#DFB77C"/>
                            <stop  offset="0.5955" style="stop-color:#C08329"/>
                            <stop  offset="0.7976" style="stop-color:#DCAC68"/>
                            <stop  offset="0.8708" style="stop-color:#EABE81"/>
                            <stop  offset="1" style="stop-color:#EEDCC3"/>
                          </linearGradient>
                          <path class="st10" d="M316.6,147.6h-2.2c-2.8,0-5.1-2.3-5.1-5.1v-9.6c0-2.8,2.3-5.1,5.1-5.1h2.2c2.8,0,5.1,2.3,5.1,5.1v9.6
                            C321.7,145.3,319.4,147.6,316.6,147.6z M318.7,141.7v-8c0-1.5-1.2-2.6-2.6-2.6h-1.2c-1.5,0-2.6,1.2-2.6,2.6v8
                            c0,1.5,1.2,2.6,2.6,2.6h1.2C317.6,144.3,318.7,143.2,318.7,141.7z"/>

                            <linearGradient id="SVGID_11_" gradientUnits="userSpaceOnUse" x1="309.3174" y1="459.1" x2="321.7174" y2="459.1" gradientTransform="matrix(1 0 0 -1 0 574)">
                            <stop  offset="5.618000e-03" style="stop-color:#EBC17D"/>
                            <stop  offset="0.1854" style="stop-color:#DFB77C"/>
                            <stop  offset="0.5955" style="stop-color:#C08329"/>
                            <stop  offset="0.7976" style="stop-color:#DCAC68"/>
                            <stop  offset="0.8708" style="stop-color:#EABE81"/>
                            <stop  offset="1" style="stop-color:#EEDCC3"/>
                          </linearGradient>
                          <path class="st11" d="M316.6,124.8h-2.2c-2.8,0-5.1-2.3-5.1-5.1v-9.6c0-2.8,2.3-5.1,5.1-5.1h2.2c2.8,0,5.1,2.3,5.1,5.1v9.6
                            C321.7,122.5,319.4,124.8,316.6,124.8z M318.7,118.9v-8c0-1.5-1.2-2.6-2.6-2.6h-1.2c-1.5,0-2.6,1.2-2.6,2.6v8
                            c0,1.5,1.2,2.6,2.6,2.6h1.2C317.6,121.5,318.7,120.3,318.7,118.9z"/>

                            <linearGradient id="SVGID_12_" gradientUnits="userSpaceOnUse" x1="313.4091" y1="447.7" x2="317.6263" y2="447.7" gradientTransform="matrix(1 0 0 -1 0 574)">
                            <stop  offset="5.618000e-03" style="stop-color:#EBC17D"/>
                            <stop  offset="0.1854" style="stop-color:#DFB77C"/>
                            <stop  offset="0.5955" style="stop-color:#C08329"/>
                            <stop  offset="0.7976" style="stop-color:#DCAC68"/>
                            <stop  offset="0.8708" style="stop-color:#EABE81"/>
                            <stop  offset="1" style="stop-color:#EEDCC3"/>
                          </linearGradient>
                          <path class="st12" d="M315.9,136.4h-0.8c-1,0-1.7-0.8-1.7-1.7v-16.8c0-1,0.8-1.7,1.7-1.7h0.8c1,0,1.7,0.8,1.7,1.7v16.8
                            C317.6,135.6,316.8,136.4,315.9,136.4z"/>
                        </g>
                        <g>

                            <linearGradient id="SVGID_13_" gradientUnits="userSpaceOnUse" x1="309.3174" y1="297.9" x2="321.7174" y2="297.9" gradientTransform="matrix(1 0 0 -1 0 574)">
                            <stop  offset="5.618000e-03" style="stop-color:#EBC17D"/>
                            <stop  offset="0.1854" style="stop-color:#DFB77C"/>
                            <stop  offset="0.5955" style="stop-color:#C08329"/>
                            <stop  offset="0.7976" style="stop-color:#DCAC68"/>
                            <stop  offset="0.8708" style="stop-color:#EABE81"/>
                            <stop  offset="1" style="stop-color:#EEDCC3"/>
                          </linearGradient>
                          <path class="st13" d="M316.6,286h-2.2c-2.8,0-5.1-2.3-5.1-5.1v-9.6c0-2.8,2.3-5.1,5.1-5.1h2.2c2.8,0,5.1,2.3,5.1,5.1v9.6
                            C321.7,283.7,319.4,286,316.6,286z M318.7,280.1v-8c0-1.5-1.2-2.6-2.6-2.6h-1.2c-1.5,0-2.6,1.2-2.6,2.6v8c0,1.5,1.2,2.6,2.6,2.6
                            h1.2C317.6,282.8,318.7,281.6,318.7,280.1z"/>

                            <linearGradient id="SVGID_14_" gradientUnits="userSpaceOnUse" x1="309.3174" y1="320.7" x2="321.7174" y2="320.7" gradientTransform="matrix(1 0 0 -1 0 574)">
                            <stop  offset="5.618000e-03" style="stop-color:#EBC17D"/>
                            <stop  offset="0.1854" style="stop-color:#DFB77C"/>
                            <stop  offset="0.5955" style="stop-color:#C08329"/>
                            <stop  offset="0.7976" style="stop-color:#DCAC68"/>
                            <stop  offset="0.8708" style="stop-color:#EABE81"/>
                            <stop  offset="1" style="stop-color:#EEDCC3"/>
                          </linearGradient>
                          <path class="st14" d="M316.6,263.2h-2.2c-2.8,0-5.1-2.3-5.1-5.1v-9.6c0-2.8,2.3-5.1,5.1-5.1h2.2c2.8,0,5.1,2.3,5.1,5.1v9.6
                            C321.7,260.9,319.4,263.2,316.6,263.2z M318.7,257.3v-8c0-1.5-1.2-2.6-2.6-2.6h-1.2c-1.5,0-2.6,1.2-2.6,2.6v8
                            c0,1.5,1.2,2.6,2.6,2.6h1.2C317.6,259.9,318.7,258.8,318.7,257.3z"/>

                            <linearGradient id="SVGID_15_" gradientUnits="userSpaceOnUse" x1="313.4091" y1="309.3" x2="317.6263" y2="309.3" gradientTransform="matrix(1 0 0 -1 0 574)">
                            <stop  offset="5.618000e-03" style="stop-color:#EBC17D"/>
                            <stop  offset="0.1854" style="stop-color:#DFB77C"/>
                            <stop  offset="0.5955" style="stop-color:#C08329"/>
                            <stop  offset="0.7976" style="stop-color:#DCAC68"/>
                            <stop  offset="0.8708" style="stop-color:#EABE81"/>
                            <stop  offset="1" style="stop-color:#EEDCC3"/>
                          </linearGradient>
                          <path class="st15" d="M315.9,274.8h-0.8c-1,0-1.7-0.8-1.7-1.7v-16.8c0-1,0.8-1.7,1.7-1.7h0.8c1,0,1.7,0.8,1.7,1.7v16.8
                            C317.6,274,316.8,274.8,315.9,274.8z"/>
                        </g>
                        <g>

                            <linearGradient id="SVGID_16_" gradientUnits="userSpaceOnUse" x1="309.3174" y1="135.9" x2="321.7174" y2="135.9" gradientTransform="matrix(1 0 0 -1 0 574)">
                            <stop  offset="5.618000e-03" style="stop-color:#EBC17D"/>
                            <stop  offset="0.1854" style="stop-color:#DFB77C"/>
                            <stop  offset="0.5955" style="stop-color:#C08329"/>
                            <stop  offset="0.7976" style="stop-color:#DCAC68"/>
                            <stop  offset="0.8708" style="stop-color:#EABE81"/>
                            <stop  offset="1" style="stop-color:#EEDCC3"/>
                          </linearGradient>
                          <path class="st16" d="M316.6,448h-2.2c-2.8,0-5.1-2.3-5.1-5.1v-9.6c0-2.8,2.3-5.1,5.1-5.1h2.2c2.8,0,5.1,2.3,5.1,5.1v9.6
                            C321.7,445.7,319.4,448,316.6,448z M318.7,442.1v-8c0-1.5-1.2-2.6-2.6-2.6h-1.2c-1.5,0-2.6,1.2-2.6,2.6v8c0,1.5,1.2,2.6,2.6,2.6
                            h1.2C317.6,444.8,318.7,443.6,318.7,442.1z"/>

                            <linearGradient id="SVGID_17_" gradientUnits="userSpaceOnUse" x1="309.3174" y1="158.7" x2="321.7174" y2="158.7" gradientTransform="matrix(1 0 0 -1 0 574)">
                            <stop  offset="5.618000e-03" style="stop-color:#EBC17D"/>
                            <stop  offset="0.1854" style="stop-color:#DFB77C"/>
                            <stop  offset="0.5955" style="stop-color:#C08329"/>
                            <stop  offset="0.7976" style="stop-color:#DCAC68"/>
                            <stop  offset="0.8708" style="stop-color:#EABE81"/>
                            <stop  offset="1" style="stop-color:#EEDCC3"/>
                          </linearGradient>
                          <path class="st17" d="M316.6,425.2h-2.2c-2.8,0-5.1-2.3-5.1-5.1v-9.6c0-2.8,2.3-5.1,5.1-5.1h2.2c2.8,0,5.1,2.3,5.1,5.1v9.6
                            C321.7,422.9,319.4,425.2,316.6,425.2z M318.7,419.3v-8c0-1.5-1.2-2.6-2.6-2.6h-1.2c-1.5,0-2.6,1.2-2.6,2.6v8
                            c0,1.5,1.2,2.6,2.6,2.6h1.2C317.6,422,318.7,420.8,318.7,419.3z"/>

                            <linearGradient id="SVGID_18_" gradientUnits="userSpaceOnUse" x1="313.4091" y1="147.2" x2="317.6263" y2="147.2" gradientTransform="matrix(1 0 0 -1 0 574)">
                            <stop  offset="5.618000e-03" style="stop-color:#EBC17D"/>
                            <stop  offset="0.1854" style="stop-color:#DFB77C"/>
                            <stop  offset="0.5955" style="stop-color:#C08329"/>
                            <stop  offset="0.7976" style="stop-color:#DCAC68"/>
                            <stop  offset="0.8708" style="stop-color:#EABE81"/>
                            <stop  offset="1" style="stop-color:#EEDCC3"/>
                          </linearGradient>
                          <path class="st18" d="M315.9,436.9h-0.8c-1,0-1.7-0.8-1.7-1.7v-16.8c0-1,0.8-1.7,1.7-1.7h0.8c1,0,1.7,0.8,1.7,1.7v16.8
                            C317.6,436.1,316.8,436.9,315.9,436.9z"/>
                        </g>
                        <g>
                          <circle class="right1" cx="315.5" cy="59.8" r="51.8"/>
                          <circle class="right2" cx="315.5" cy="195.2" r="55.2"/>
                          <circle class="right3" cx="315.5" cy="345.6" r="66.5"/>
                          <circle class="right4" cx="315.5" cy="525" r="84.3"/>
                        </g>
                      </g>
                      </svg>
                    </div>
               </div><!--END SVG AREA-->

                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 dropDownArea"> <!--DROP DOWN AREA BEGINS-->
                       <div class="row dropOneTitle active">
                            <div class="col-lg-3 col-md-1 col-sm-1 col-xs-1">
                              <div class="smallCircle small1 {{small1}}"></div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-3 col-xs-3 titleImageOne"></div>
                            <div class="col-lg-3 col-md-3 col-sm-2 col-xs-2 direction">
                                 <p><span class="openclose1">CLOSE</span><i class="drop1Direction fa fa-angle-up" aria-hidden="true"></i></p>
                            </div>
                        </div>

                       <div class="row">
                             <div class="dropDown1 fullSize">
                                <div ng-repeat="color in topColors" ng-click="selectColor(color.name, color.cssClass)" class="earringCircle {{color.cssClass}}">
                               </div>
                             </div>
                      </div>

                      <div class="row dropTwoTitle">
                        <div class="col-lg-3 col-md-1 col-sm-1 col-xs-1">
                          <div class="smallCircle small2 {{small2}}"></div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-3 col-xs-3 titleImageTwo"></div>
                        <div class="col-lg-3 col-md-3 col-sm-2 col-xs-2 direction">
                             <p><span class="openclose2">OPEN</span><i class="drop2Direction fa fa-angle-down" aria-hidden="true"></i></p>
                        </div>
                    </div>

                       <div class="row">
                             <div class="dropDown2">
                                <div ng-repeat="color in colors" ng-click="selectColor2(color.name, color.cssClass)" class="earringCircle {{color.cssClass}}">
                               </div>
                             </div>
                      </div>

                     <div class="dropThreeTitle row">
                            <div class="col-lg-3 col-md-1 col-sm-1 col-xs-1">
                              <div class="smallCircle small3 {{small3}}"></div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-3 col-xs-3 titleImageThree"></div>
                            <div class="col-lg-3 col-md-3 col-sm-2 col-xs-2 direction">
                                 <p><span class="openclose3">OPEN</span><i class="drop3Direction fa fa-angle-down" aria-hidden="true"></i></p>
                            </div>
                      </div>
                       <div class="row">
                             <div class="dropDown3">
                                <div ng-repeat="color in colors" ng-click="selectColor3(color.name, color.cssClass)" class="earringCircle {{color.cssClass}}">
                               </div>
                             </div>
                      </div>

                      <div class="dropFourTitle row">
                          <div class="col-lg-3 col-md-1 col-sm-1 col-xs-1">
                            <div class="smallCircle small4 {{small4}}"></div>
                          </div>
                          <div class="col-lg-6 col-md-6 col-sm-3 col-xs-3 titleImageFour"></div>
                          <div class="col-lg-3 col-md-3 col-sm-2 col-xs-2 direction">
                               <p><span class="openclose4">OPEN</span><i class="drop4Direction fa fa-angle-down" aria-hidden="true"></i></p>
                          </div>
                      </div>

                         <div class="row">
                               <div class="dropDown4">
                                  <div ng-repeat="color in colors" ng-click="selectColor4(color.name, color.cssClass)" class="earringCircle {{color.cssClass}}">
                                 </div>
                               </div>
                        </div>
                  </div> <!--END DROP DOWN AREA -->

              </div><!--END BIG SVG AND PICKER ROW -->

            </div>

           <div class ="row">
              <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                 <img class="customorders" src="assets/customtype.png"/>
<!--                  <alert style="margin-top: 25px;" ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
 -->              </div>

              <div class="col-lg-6 col-md-12 col-sm-6 centerSmall">
                  <p class="parDescription lightblue">CARE</br>
                      These earrings are individually hand embroidered in
                      India. They are featherweight and hollow, which makes them fragile. Due to their nature, they can crush and stain, so please handle delicately and lovingly.</br></br>

                      Product Information</br>
                      + Gold Plated Brass Clip Back</br>
                      + Size ~ 4’ ¼ Long ~ Light as a Feather</br>
                      + Hand Wrapped Silk Cording</br>
                  </p>

                  <hr class="specialHr">
                  <p class="lightblue">$325.00</p>
                  <p class="lightblue">Quantity</p>
                  <form name="quantityForm">
                  <input ng-blur="changeQuantity(quantityForm)" name="quantity" ng-model="quantity"></input>
                  </form>
              </div>
          </div>

           <div class ="row">

              <div class="col-lg-6 col-md-12 col-sm-12">

              </div>

              <div class="col-lg-6 col-md-12 col-sm-12 centerSmall">
                  <p style="padding-top: 10px;" class="{{responseClass}}">{{response}}</p>

                  <button class="btn btn-primary" ng-click="checkout(quantityForm)" data-ng-disabled="checkSelections()" role="button">PAY WITH CARD</button>
                  <p class="lightblue copperplateFont" style="padding-top: 20px;">Please note these items will only ship within the US on December 1st</p>

              </div>

          </div>

      </div>

      <div class="container-fluid">
          <div class="row-fluid">
            <div class="col-lg-12 col-md-12 col-sm-12 text-center footerArea">
              <a href="https://www.instagram.com/rderavenel/" target="_blank"><i class="lightblue fa fa-instagram font-awesome-icon"></i></a>
              <a href="https://www.pinterest.com/deravenel/" target="_blank"><i class="lightblue fa fa-pinterest font-awesome-icon"></i></a>
              <a href="mailto:info@rebeccaderavenel.com" target="_blank"><i class="lightblue fa fa-envelope font-awesome-icon"></i></a>
            </div>
          </div>
          <div class="row" >
            <div class="col-lg-12 col-md-12 col-sm-12 text-center" style="padding-top: 20px;" >
              <p class="lightblue site-footer__links tk-copperplate-bold">REBECCA DE RAVENEL LLC, A DELAWARE LIMITED LIABILITY COMPANY, 2017</p>
            </div>
          </div>
    </div>


</div>

  <script src="js/main.js"></script>
