<div ng-controller="ConfirmationController" class="container">
        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12">
              <img ui-sref="landing" class="headerImage" src="assets/rdr_logo.png"/>
<!--               <img class="createImage" src="assets/CreateAndDatesHeader.png"/>
 -->            </div>
         </div>
       <div class="row customNav">
              <ul id="horizontal-list">
                <li><a class="lightblue navItem" href="/">CREATE</a></li>
                <li><a class="lightblue navItem" href="https://rebecca-de-ravenel-the-goombay-bazaar-llc.myshopify.com/pages/about-us">ABOUT</a></li>
                <li><a class="lightblue navItem" href="https://rebecca-de-ravenel-the-goombay-bazaar-llc.myshopify.com/pages/press">PRESS</a></li>
                <li><a class="lightblue navItem" href="https://rebecca-de-ravenel-the-goombay-bazaar-llc.myshopify.com/pages/stockists">STOCKISTS</a></li>
                <li><a class="lightblue navItem" href="https://rebecca-de-ravenel-the-goombay-bazaar-llc.myshopify.com/pages/contact">CONTACT</a></li>
              </ul>
        </div>

        <div class="row">
          <h2 class="lightblue text-center" style="padding-top: 30px;">Success!</h2>
        	<h2 class="lightblue text-center">Thanks for your Order.</h2>
        	<h3 class="lightblue text-center">A confirmation receipt will be sent to you at {{yourEmail}} shortly.</h3>

        </div>
</div>

 <div class="container-fluid">
          <div class="row-fluid">
            <div class="col-lg-12 col-md-12 col-sm-12 text-center footerArea">
              <a href="https://www.instagram.com/rderavenel/" target="_blank"><i class="lightblue fa fa-instagram font-awesome-icon"></i></a>
              <a href="https://www.pinterest.com/deravenel/" target="_blank"><i class="lightblue fa fa-pinterest font-awesome-icon"></i></a>
              <a href="mailto:info@rebeccaderavenel.com" target="_blank"><i class="lightblue fa fa-envelope font-awesome-icon"></i></a>
            </div>
          </div>
          <div class="row" >
            <div class="col-lg-12 col-md-12 col-sm-12 text-center" style="padding-top: 40px;" >
              <p class="lightblue site-footer__links tk-copperplate-bold">REBECCA DE RAVENEL LLC, A DELAWARE LIMITED LIABILITY COMPANY, 2017</p>
            </div>
          </div>
    </div>
