
<div ng-controller="OrderController" class="container-fluid">

    <div class="row">
        <img class="headerImage" ui-sref="landing" src="assets/rdr_logo.png"/>
    </div>

     <div class="row customNav">
            <ul id="horizontal-list">
              <li><a class="lightblue navItem" href="/">CREATE</a></li>
              <li><a class="lightblue navItem" href="https://rebecca-de-ravenel-the-goombay-bazaar-llc.myshopify.com/pages/about-us">ABOUT</a></li>
              <li><a class="lightblue navItem" href="https://rebecca-de-ravenel-the-goombay-bazaar-llc.myshopify.com/pages/press">PRESS</a></li>
              <li><a class="lightblue navItem" href="https://rebecca-de-ravenel-the-goombay-bazaar-llc.myshopify.com/pages/stockists">STOCKISTS</a></li>
              <li><a class="lightblue navItem" href="https://rebecca-de-ravenel-the-goombay-bazaar-llc.myshopify.com/pages/contact">CONTACT</a></li>
            </ul>
      </div>

    <div class="row">
        <hr>

        <h2>YOUR SHOPPING CART</h2>
        <p class="lightblue copperplateFont">Review your order carefully. Custom orders are non-returnable.</p>
        <hr>
    </div>

    <div class="row-fluid">

      <div class="col-lg-6 col-md-6">

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                  <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="0" height="0">

                           <defs>
                            <pattern id="PFtopCircle" x="0" y="0" height="1" width="1">
                              <image width="104" height="104" xlink:href="{{topCircleColor}}"/>
                            </pattern>
                            <pattern id="PFsecondCircle" x="0" y="0" height="1" width="1">
                              <image width="111" height="110" xlink:href="{{secondCircleColor}}"/>
                            </pattern>
                            <pattern id="PFthirdCircle" x="0" y="0" height="1" width="1">
                              <image width="137" height="136" xlink:href="{{thirdCircleColor}}"/>
                            </pattern>
                            <pattern id="PFfourthCircle" x="0" y="0" height="1" width="1">
                              <image width="173" height="172" xlink:href="{{fourthCircleColor}}"/>
                            </pattern>
                          </defs>
                   </svg>
                <svg version="1.1" style="height: 100%; width: 100%" id="Layer_2" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                 class="paymentSVG" viewBox="0 0 612 792">
                      <style type="text/css">
                        .st0{fill:url(#SVGID_PF1_);}
                        .st1{fill:url(#SVGID_PF2_);}
                        .st2{fill:url(#SVGID_PF3_);}
                        .st3{fill:url(#SVGID_PF4_);}
                        .st4{fill:url(#SVGID_PF5_);}
                        .st5{fill:url(#SVGID_PF6_);}
                        .st6{fill:url(#SVGID_PF7_);}
                        .st7{fill:url(#SVGID_PF8_);}
                        .st8{fill:url(#SVGID_PF9_);}
                        .st9{fill:#FFFFFF;stroke:#939598;stroke-width:0.5;stroke-miterlimit:10;}
                        .st10{fill:url(#SVGID_PF10_);}
                        .st11{fill:url(#SVGID_PF11_);}
                        .st12{fill:url(#SVGID_PF12_);}
                        .st13{fill:url(#SVGID_PF13_);}
                        .st14{fill:url(#SVGID_PF14_);}
                        .st15{fill:url(#SVGID_PF15_);}
                        .st16{fill:url(#SVGID_PF16_);}
                        .st17{fill:url(#SVGID_PF17_);}
                        .st18{fill:url(#SVGID_PF18_);}
                        .left1, .right1 {
                            fill:url(#PFtopCircle);
                            stroke:#939598;
                            stroke-width:0.5;
                            stroke-miterlimit:10;
                          }

                          .left2, .right2 {
                            fill:url(#PFsecondCircle);
                            stroke:#939598;
                            stroke-width:0.5;
                            stroke-miterlimit:10;
                          }
                          .left3, .right3 {
                            fill:url(#PFthirdCircle);
                            stroke:#939598;
                            stroke-width:0.5;
                            stroke-miterlimit:10;
                          }
                          .left4, .right4 {
                            fill:url(#PFfourthCircle);
                            stroke:#939598;
                            stroke-width:0.5;
                            stroke-miterlimit:10;
                            image-rendering: -moz-crisp-edges;        
                          image-rendering:   -o-crisp-edges;      
                         image-rendering: -webkit-optimize-contrast;
                          image-rendering: crisp-edges;
                          -ms-interpolation-mode: nearest-neighbor;
                          }
                      </style>

                          <linearGradient id="SVGID_PF1_" gradientUnits="userSpaceOnUse" x1="189.7901" y1="246.7204" x2="202.1906" y2="246.7204">
                            <stop  offset="5.618000e-03" style="stop-color:#EBC17D"/>
                            <stop  offset="0.1854" style="stop-color:#DFB77C"/>
                            <stop  offset="0.5955" style="stop-color:#C08329"/>
                            <stop  offset="0.7976" style="stop-color:#DCAC68"/>
                            <stop  offset="0.8708" style="stop-color:#EABE81"/>
                            <stop  offset="1" style="stop-color:#EEDCC3"/>
                          </linearGradient>
                          <path class="st0" d="M197.1,256.6h-2.2c-2.8,0-5.1-2.3-5.1-5.1v-9.6c0-2.8,2.3-5.1,5.1-5.1h2.2c2.8,0,5.1,2.3,5.1,5.1v9.6
                            C202.2,254.3,199.9,256.6,197.1,256.6z M199.2,250.7v-8c0-1.5-1.2-2.6-2.6-2.6h-1.2c-1.5,0-2.6,1.2-2.6,2.6v8
                            c0,1.5,1.2,2.6,2.6,2.6h1.2C198,253.3,199.2,252.2,199.2,250.7z"/>
                          <linearGradient id="SVGID_PF2_" gradientUnits="userSpaceOnUse" x1="189.7901" y1="223.9097" x2="202.1906" y2="223.9097">
                            <stop  offset="5.618000e-03" style="stop-color:#EBC17D"/>
                            <stop  offset="0.1854" style="stop-color:#DFB77C"/>
                            <stop  offset="0.5955" style="stop-color:#C08329"/>
                            <stop  offset="0.7976" style="stop-color:#DCAC68"/>
                            <stop  offset="0.8708" style="stop-color:#EABE81"/>
                            <stop  offset="1" style="stop-color:#EEDCC3"/>
                          </linearGradient>
                          <path class="st1" d="M197.1,233.8h-2.2c-2.8,0-5.1-2.3-5.1-5.1v-9.6c0-2.8,2.3-5.1,5.1-5.1h2.2c2.8,0,5.1,2.3,5.1,5.1v9.6
                            C202.2,231.5,199.9,233.8,197.1,233.8z M199.2,227.9v-8c0-1.5-1.2-2.6-2.6-2.6h-1.2c-1.5,0-2.6,1.2-2.6,2.6v8
                            c0,1.5,1.2,2.6,2.6,2.6h1.2C198,230.5,199.2,229.3,199.2,227.9z"/>
                          <linearGradient id="SVGID_PF3_" gradientUnits="userSpaceOnUse" x1="193.8817" y1="235.3151" x2="198.099" y2="235.3151">
                            <stop  offset="5.618000e-03" style="stop-color:#EBC17D"/>
                            <stop  offset="0.1854" style="stop-color:#DFB77C"/>
                            <stop  offset="0.5955" style="stop-color:#C08329"/>
                            <stop  offset="0.7976" style="stop-color:#DCAC68"/>
                            <stop  offset="0.8708" style="stop-color:#EABE81"/>
                            <stop  offset="1" style="stop-color:#EEDCC3"/>
                          </linearGradient>
                          <path class="st2" d="M196.4,245.4h-0.8c-1,0-1.7-0.8-1.7-1.7v-16.8c0-1,0.8-1.7,1.7-1.7h0.8c1,0,1.7,0.8,1.7,1.7v16.8
                            C198.1,244.6,197.3,245.4,196.4,245.4z"/>

                          <linearGradient id="SVGID_PF4_" gradientUnits="userSpaceOnUse" x1="189.7901" y1="385.1255" x2="202.1906" y2="385.1255">
                            <stop  offset="5.618000e-03" style="stop-color:#EBC17D"/>
                            <stop  offset="0.1854" style="stop-color:#DFB77C"/>
                            <stop  offset="0.5955" style="stop-color:#C08329"/>
                            <stop  offset="0.7976" style="stop-color:#DCAC68"/>
                            <stop  offset="0.8708" style="stop-color:#EABE81"/>
                            <stop  offset="1" style="stop-color:#EEDCC3"/>
                          </linearGradient>
                          <path class="st3" d="M197.1,395h-2.2c-2.8,0-5.1-2.3-5.1-5.1v-9.6c0-2.8,2.3-5.1,5.1-5.1h2.2c2.8,0,5.1,2.3,5.1,5.1v9.6
                            C202.2,392.7,199.9,395,197.1,395z M199.2,389.1v-8c0-1.5-1.2-2.6-2.6-2.6h-1.2c-1.5,0-2.6,1.2-2.6,2.6v8c0,1.5,1.2,2.6,2.6,2.6
                            h1.2C198,391.8,199.2,390.6,199.2,389.1z"/>
                          <linearGradient id="SVGID_PF5_" gradientUnits="userSpaceOnUse" x1="189.7901" y1="362.3148" x2="202.1906" y2="362.3148">
                            <stop  offset="5.618000e-03" style="stop-color:#EBC17D"/>
                            <stop  offset="0.1854" style="stop-color:#DFB77C"/>
                            <stop  offset="0.5955" style="stop-color:#C08329"/>
                            <stop  offset="0.7976" style="stop-color:#DCAC68"/>
                            <stop  offset="0.8708" style="stop-color:#EABE81"/>
                            <stop  offset="1" style="stop-color:#EEDCC3"/>
                          </linearGradient>
                          <path class="st4" d="M197.1,372.2h-2.2c-2.8,0-5.1-2.3-5.1-5.1v-9.6c0-2.8,2.3-5.1,5.1-5.1h2.2c2.8,0,5.1,2.3,5.1,5.1v9.6
                            C202.2,369.9,199.9,372.2,197.1,372.2z M199.2,366.3v-8c0-1.5-1.2-2.6-2.6-2.6h-1.2c-1.5,0-2.6,1.2-2.6,2.6v8
                            c0,1.5,1.2,2.6,2.6,2.6h1.2C198,368.9,199.2,367.8,199.2,366.3z"/>
                          <linearGradient id="SVGID_PF6_" gradientUnits="userSpaceOnUse" x1="193.8817" y1="373.7202" x2="198.099" y2="373.7202">
                            <stop  offset="5.618000e-03" style="stop-color:#EBC17D"/>
                            <stop  offset="0.1854" style="stop-color:#DFB77C"/>
                            <stop  offset="0.5955" style="stop-color:#C08329"/>
                            <stop  offset="0.7976" style="stop-color:#DCAC68"/>
                            <stop  offset="0.8708" style="stop-color:#EABE81"/>
                            <stop  offset="1" style="stop-color:#EEDCC3"/>
                          </linearGradient>
                          <path class="st5" d="M196.4,383.8h-0.8c-1,0-1.7-0.8-1.7-1.7v-16.8c0-1,0.8-1.7,1.7-1.7h0.8c1,0,1.7,0.8,1.7,1.7v16.8
                            C198.1,383,197.3,383.8,196.4,383.8z"/>

                          <linearGradient id="SVGID_PF7_" gradientUnits="userSpaceOnUse" x1="189.7901" y1="547.1554" x2="202.1906" y2="547.1554">
                            <stop  offset="5.618000e-03" style="stop-color:#EBC17D"/>
                            <stop  offset="0.1854" style="stop-color:#DFB77C"/>
                            <stop  offset="0.5955" style="stop-color:#C08329"/>
                            <stop  offset="0.7976" style="stop-color:#DCAC68"/>
                            <stop  offset="0.8708" style="stop-color:#EABE81"/>
                            <stop  offset="1" style="stop-color:#EEDCC3"/>
                          </linearGradient>
                          <path class="st6" d="M197.1,557h-2.2c-2.8,0-5.1-2.3-5.1-5.1v-9.6c0-2.8,2.3-5.1,5.1-5.1h2.2c2.8,0,5.1,2.3,5.1,5.1v9.6
                            C202.2,554.7,199.9,557,197.1,557z M199.2,551.1v-8c0-1.5-1.2-2.6-2.6-2.6h-1.2c-1.5,0-2.6,1.2-2.6,2.6v8c0,1.5,1.2,2.6,2.6,2.6
                            h1.2C198,553.8,199.2,552.6,199.2,551.1z"/>
                          <linearGradient id="SVGID_PF8_" gradientUnits="userSpaceOnUse" x1="189.7901" y1="524.3446" x2="202.1906" y2="524.3446">
                            <stop  offset="5.618000e-03" style="stop-color:#EBC17D"/>
                            <stop  offset="0.1854" style="stop-color:#DFB77C"/>
                            <stop  offset="0.5955" style="stop-color:#C08329"/>
                            <stop  offset="0.7976" style="stop-color:#DCAC68"/>
                            <stop  offset="0.8708" style="stop-color:#EABE81"/>
                            <stop  offset="1" style="stop-color:#EEDCC3"/>
                          </linearGradient>
                          <path class="st7" d="M197.1,534.2h-2.2c-2.8,0-5.1-2.3-5.1-5.1v-9.6c0-2.8,2.3-5.1,5.1-5.1h2.2c2.8,0,5.1,2.3,5.1,5.1v9.6
                            C202.2,531.9,199.9,534.2,197.1,534.2z M199.2,528.3v-8c0-1.5-1.2-2.6-2.6-2.6h-1.2c-1.5,0-2.6,1.2-2.6,2.6v8
                            c0,1.5,1.2,2.6,2.6,2.6h1.2C198,531,199.2,529.8,199.2,528.3z"/>
                          <linearGradient id="SVGID_PF9_" gradientUnits="userSpaceOnUse" x1="193.8817" y1="535.75" x2="198.099" y2="535.75">
                            <stop  offset="5.618000e-03" style="stop-color:#EBC17D"/>
                            <stop  offset="0.1854" style="stop-color:#DFB77C"/>
                            <stop  offset="0.5955" style="stop-color:#C08329"/>
                            <stop  offset="0.7976" style="stop-color:#DCAC68"/>
                            <stop  offset="0.8708" style="stop-color:#EABE81"/>
                            <stop  offset="1" style="stop-color:#EEDCC3"/>
                          </linearGradient>
                          <path class="st8" d="M196.4,545.9h-0.8c-1,0-1.7-0.8-1.7-1.7v-16.8c0-1,0.8-1.7,1.7-1.7h0.8c1,0,1.7,0.8,1.7,1.7v16.8
                            C198.1,545.1,197.3,545.9,196.4,545.9z"/>

                          <circle class="left1" cx="196" cy="168.8" r="51.8"/>
                          <circle class="left2" cx="196" cy="304.2" r="55.2"/>
                          <circle class="left3" cx="196" cy="454.6" r="66.5"/>
                          <circle class="left4" cx="196" cy="634" r="84.3"/>

                          <linearGradient id="SVGID_PF10_" gradientUnits="userSpaceOnUse" x1="408.3174" y1="246.7204" x2="420.7179" y2="246.7204">
                            <stop  offset="5.618000e-03" style="stop-color:#EBC17D"/>
                            <stop  offset="0.1854" style="stop-color:#DFB77C"/>
                            <stop  offset="0.5955" style="stop-color:#C08329"/>
                            <stop  offset="0.7976" style="stop-color:#DCAC68"/>
                            <stop  offset="0.8708" style="stop-color:#EABE81"/>
                            <stop  offset="1" style="stop-color:#EEDCC3"/>
                          </linearGradient>
                          <path class="st10" d="M415.6,256.6h-2.2c-2.8,0-5.1-2.3-5.1-5.1v-9.6c0-2.8,2.3-5.1,5.1-5.1h2.2c2.8,0,5.1,2.3,5.1,5.1v9.6
                            C420.7,254.3,418.4,256.6,415.6,256.6z M417.7,250.7v-8c0-1.5-1.2-2.6-2.6-2.6h-1.2c-1.5,0-2.6,1.2-2.6,2.6v8
                            c0,1.5,1.2,2.6,2.6,2.6h1.2C416.6,253.3,417.7,252.2,417.7,250.7z"/>
                          <linearGradient id="SVGID_PF11_" gradientUnits="userSpaceOnUse" x1="408.3174" y1="223.9097" x2="420.7179" y2="223.9097">
                            <stop  offset="5.618000e-03" style="stop-color:#EBC17D"/>
                            <stop  offset="0.1854" style="stop-color:#DFB77C"/>
                            <stop  offset="0.5955" style="stop-color:#C08329"/>
                            <stop  offset="0.7976" style="stop-color:#DCAC68"/>
                            <stop  offset="0.8708" style="stop-color:#EABE81"/>
                            <stop  offset="1" style="stop-color:#EEDCC3"/>
                          </linearGradient>
                          <path class="st11" d="M415.6,233.8h-2.2c-2.8,0-5.1-2.3-5.1-5.1v-9.6c0-2.8,2.3-5.1,5.1-5.1h2.2c2.8,0,5.1,2.3,5.1,5.1v9.6
                            C420.7,231.5,418.4,233.8,415.6,233.8z M417.7,227.9v-8c0-1.5-1.2-2.6-2.6-2.6h-1.2c-1.5,0-2.6,1.2-2.6,2.6v8
                            c0,1.5,1.2,2.6,2.6,2.6h1.2C416.6,230.5,417.7,229.3,417.7,227.9z"/>
                          <linearGradient id="SVGID_PF12_" gradientUnits="userSpaceOnUse" x1="412.4091" y1="235.3151" x2="416.6263" y2="235.3151">
                            <stop  offset="5.618000e-03" style="stop-color:#EBC17D"/>
                            <stop  offset="0.1854" style="stop-color:#DFB77C"/>
                            <stop  offset="0.5955" style="stop-color:#C08329"/>
                            <stop  offset="0.7976" style="stop-color:#DCAC68"/>
                            <stop  offset="0.8708" style="stop-color:#EABE81"/>
                            <stop  offset="1" style="stop-color:#EEDCC3"/>
                          </linearGradient>
                          <path class="st12" d="M414.9,245.4h-0.8c-1,0-1.7-0.8-1.7-1.7v-16.8c0-1,0.8-1.7,1.7-1.7h0.8c1,0,1.7,0.8,1.7,1.7v16.8
                            C416.6,244.6,415.8,245.4,414.9,245.4z"/>

                          <linearGradient id="SVGID_PF13_" gradientUnits="userSpaceOnUse" x1="408.3174" y1="385.1255" x2="420.7179" y2="385.1255">
                            <stop  offset="5.618000e-03" style="stop-color:#EBC17D"/>
                            <stop  offset="0.1854" style="stop-color:#DFB77C"/>
                            <stop  offset="0.5955" style="stop-color:#C08329"/>
                            <stop  offset="0.7976" style="stop-color:#DCAC68"/>
                            <stop  offset="0.8708" style="stop-color:#EABE81"/>
                            <stop  offset="1" style="stop-color:#EEDCC3"/>
                          </linearGradient>
                          <path class="st13" d="M415.6,395h-2.2c-2.8,0-5.1-2.3-5.1-5.1v-9.6c0-2.8,2.3-5.1,5.1-5.1h2.2c2.8,0,5.1,2.3,5.1,5.1v9.6
                            C420.7,392.7,418.4,395,415.6,395z M417.7,389.1v-8c0-1.5-1.2-2.6-2.6-2.6h-1.2c-1.5,0-2.6,1.2-2.6,2.6v8c0,1.5,1.2,2.6,2.6,2.6
                            h1.2C416.6,391.8,417.7,390.6,417.7,389.1z"/>
                          <linearGradient id="SVGID_PF14_" gradientUnits="userSpaceOnUse" x1="408.3174" y1="362.3148" x2="420.7179" y2="362.3148">
                            <stop  offset="5.618000e-03" style="stop-color:#EBC17D"/>
                            <stop  offset="0.1854" style="stop-color:#DFB77C"/>
                            <stop  offset="0.5955" style="stop-color:#C08329"/>
                            <stop  offset="0.7976" style="stop-color:#DCAC68"/>
                            <stop  offset="0.8708" style="stop-color:#EABE81"/>
                            <stop  offset="1" style="stop-color:#EEDCC3"/>
                          </linearGradient>
                          <path class="st14" d="M415.6,372.2h-2.2c-2.8,0-5.1-2.3-5.1-5.1v-9.6c0-2.8,2.3-5.1,5.1-5.1h2.2c2.8,0,5.1,2.3,5.1,5.1v9.6
                            C420.7,369.9,418.4,372.2,415.6,372.2z M417.7,366.3v-8c0-1.5-1.2-2.6-2.6-2.6h-1.2c-1.5,0-2.6,1.2-2.6,2.6v8
                            c0,1.5,1.2,2.6,2.6,2.6h1.2C416.6,368.9,417.7,367.8,417.7,366.3z"/>
                          <linearGradient id="SVGID_PF15_" gradientUnits="userSpaceOnUse" x1="412.4091" y1="373.7202" x2="416.6263" y2="373.7202">
                            <stop  offset="5.618000e-03" style="stop-color:#EBC17D"/>
                            <stop  offset="0.1854" style="stop-color:#DFB77C"/>
                            <stop  offset="0.5955" style="stop-color:#C08329"/>
                            <stop  offset="0.7976" style="stop-color:#DCAC68"/>
                            <stop  offset="0.8708" style="stop-color:#EABE81"/>
                            <stop  offset="1" style="stop-color:#EEDCC3"/>
                          </linearGradient>
                          <path class="st15" d="M414.9,383.8h-0.8c-1,0-1.7-0.8-1.7-1.7v-16.8c0-1,0.8-1.7,1.7-1.7h0.8c1,0,1.7,0.8,1.7,1.7v16.8
                            C416.6,383,415.8,383.8,414.9,383.8z"/>

                          <linearGradient id="SVGID_PF16_" gradientUnits="userSpaceOnUse" x1="408.3174" y1="547.1554" x2="420.7179" y2="547.1554">
                            <stop  offset="5.618000e-03" style="stop-color:#EBC17D"/>
                            <stop  offset="0.1854" style="stop-color:#DFB77C"/>
                            <stop  offset="0.5955" style="stop-color:#C08329"/>
                            <stop  offset="0.7976" style="stop-color:#DCAC68"/>
                            <stop  offset="0.8708" style="stop-color:#EABE81"/>
                            <stop  offset="1" style="stop-color:#EEDCC3"/>
                          </linearGradient>
                          <path class="st16" d="M415.6,557h-2.2c-2.8,0-5.1-2.3-5.1-5.1v-9.6c0-2.8,2.3-5.1,5.1-5.1h2.2c2.8,0,5.1,2.3,5.1,5.1v9.6
                            C420.7,554.7,418.4,557,415.6,557z M417.7,551.1v-8c0-1.5-1.2-2.6-2.6-2.6h-1.2c-1.5,0-2.6,1.2-2.6,2.6v8c0,1.5,1.2,2.6,2.6,2.6
                            h1.2C416.6,553.8,417.7,552.6,417.7,551.1z"/>
                          <linearGradient id="SVGID_PF17_" gradientUnits="userSpaceOnUse" x1="408.3174" y1="524.3446" x2="420.7179" y2="524.3446">
                            <stop  offset="5.618000e-03" style="stop-color:#EBC17D"/>
                            <stop  offset="0.1854" style="stop-color:#DFB77C"/>
                            <stop  offset="0.5955" style="stop-color:#C08329"/>
                            <stop  offset="0.7976" style="stop-color:#DCAC68"/>
                            <stop  offset="0.8708" style="stop-color:#EABE81"/>
                            <stop  offset="1" style="stop-color:#EEDCC3"/>
                          </linearGradient>
                          <path class="st17" d="M415.6,534.2h-2.2c-2.8,0-5.1-2.3-5.1-5.1v-9.6c0-2.8,2.3-5.1,5.1-5.1h2.2c2.8,0,5.1,2.3,5.1,5.1v9.6
                            C420.7,531.9,418.4,534.2,415.6,534.2z M417.7,528.3v-8c0-1.5-1.2-2.6-2.6-2.6h-1.2c-1.5,0-2.6,1.2-2.6,2.6v8
                            c0,1.5,1.2,2.6,2.6,2.6h1.2C416.6,531,417.7,529.8,417.7,528.3z"/>
                          <linearGradient id="SVGID_PF18_" gradientUnits="userSpaceOnUse" x1="412.4091" y1="535.75" x2="416.6263" y2="535.75">
                            <stop  offset="5.618000e-03" style="stop-color:#EBC17D"/>
                            <stop  offset="0.1854" style="stop-color:#DFB77C"/>
                            <stop  offset="0.5955" style="stop-color:#C08329"/>
                            <stop  offset="0.7976" style="stop-color:#DCAC68"/>
                            <stop  offset="0.8708" style="stop-color:#EABE81"/>
                            <stop  offset="1" style="stop-color:#EEDCC3"/>
                          </linearGradient>
                          <path class="st18" d="M414.9,545.9h-0.8c-1,0-1.7-0.8-1.7-1.7v-16.8c0-1,0.8-1.7,1.7-1.7h0.8c1,0,1.7,0.8,1.7,1.7v16.8
                            C416.6,545.1,415.8,545.9,414.9,545.9z"/>

                          <circle class="right1" cx="414.5" cy="168.8" r="51.8"/>
                          <circle class="right2" cx="414.5" cy="304.2" r="55.2"/>
                          <circle class="right3" cx="414.5" cy="454.6" r="66.5"/>
                          <circle class="right4" cx="414.5" cy="634" r="84.3"/>

                        </svg>

                    <button class="btn btn-primary" style="display:block; margin-right: auto; margin-left: auto" ng-blur="changeQuantity(giftQuantity)" ng-click="editOrder(giftQuantity)" role="button">EDIT THIS DESIGN</button>

              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                      <h3>CUSTOM EARRINGS</h3>
                      <p class="lightblue copperplateFont">Drop 1 - {{colorOne}}</p>
                      <p class="lightblue copperplateFont">Drop 2 - {{colorTwo}}</p>
                      <p class="lightblue copperplateFont">Drop 3 - {{colorThree}}</p>
                      <p class="lightblue copperplateFont">Drop 4 - {{colorFour}}</p>
                      <p class="lightblue copperplateFont">Quantity:</p>
                     <form name="giftQuantity">
                        <input autocomplete="quantity" ng-model="quantity" name="quantity"/>
                        <div class="radio">
                          <label class="lightblue copperplateFont"><input type="radio"/>Include gift message</label>
                        </div>
                        <textarea rows="3" ng-model="giftMessage" name="message" cols="30"></textarea>
                      </form>
              </div>
  </div>
</div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
           <form stripe-form="stripeCallback" name="myForm" class="bigTourForm" novalidate>
               <div class="panel panel-info">
                  <div class="panel-heading">
                  <h3 style="color: white !important;" class="panel-title copperplateFont">SHIPPING &amp; BILLING</h3>
                  </div>
                   <div class="panel-body">

                       <div class="form-group row-fluid">
                          <div class="col-lg-6">
                          <label class="col-form-label">First Name <span>*</span></label>
                            <input  autocomplete="firstname" required ng-model="firstName" class="form-control" type="text" >
                          </div>
                          <div class="col-lg-6">
                          <label class="col-form-label">Last Name <span>*</span></label>
                            <input autocomplete="lastname" required ng-model="lastName" class="form-control" type="text" >
                          </div>
                        </div>
                       <div class="form-group row-fluid">
                              <div class="col-lg-6">
                                  <label style="margin-top: 20px;" class="col-form-label lightblue">Phone Number <span>*</span></label>
                                    <input autocomplete="phone" required ng-model="phone" ng-minlength="10" name="phone" class="form-control" type="text">
                                    <span class="redFont" ng-show="myForm.phone.$error.minlength">Required</span>
                              </div>
                              <div class="col-lg-6">
                              <label style="margin-top: 20px;" class="col-form-label lightblue">Email Address <span>*</span></label>
                                <input autocomplete="email" required name="email" ng-model="email" class="form-control" type="email">
                                 <span class="redFont" ng-show="myForm.email.$error.email">Not a valid e-mail address</span>
                              </div>
                        </div>

                      <div class="form-group row-fluid">
                        <div class="col-lg-12">
                         <div class="radio" style="padding-top: 10px;">
                         <input autocomplete="billing" type="checkbox" ng-model="billingContent"/><label style="display: inline;" class="lightblue georgiaFont">Shipping and Billing Address Differ</label>
                          </div>
                        </div>
                      </div>

                         <div class="form-group row-fluid">
                            <div class="col-lg-12">
                                <label class="georgiaFont lightblue" style="margin-top: 20px;">Shipping Address <span>*</span></label><br>
                                 <input autocomplete="address" required class="form-control"  ng-model="shippingAddress1"/><br>
                                 <input autocomplete="address2" class="form-control"  ng-model="shippingAddress2"/>
                              </div>
                          </div>
                            <div class="form-group row-fluid">
                                <div class="col-lg-6">
                                  <label class="georgiaFont lightblue" style="margin-top: 20px;">City <span>*</span></label><br>
                                  <input autocomplete='address-level2' class="form-control" name="shippingCity" ng-minlength="2" ng-model="shippingCity"/>
                                  <span class="redFont" ng-show="myForm.shippingCity.$error.minlength">Not a valid city</span>
                                </div>
                                 <div class="col-lg-6">
                                    <label class="georgiaFont lightblue" style="margin-top: 20px;">State <span>*</span></label>
                                    <select autocomplete='address-level1' class="form-control" id="state" ng-model="shippingState" name="state">
                                      <option value="">N/A</option>
                                      <option value="AK">Alaska</option>
                                      <option value="AL">Alabama</option>
                                      <option value="AR">Arkansas</option>
                                      <option value="AZ">Arizona</option>
                                      <option value="CA">California</option>
                                      <option value="CO">Colorado</option>
                                      <option value="CT">Connecticut</option>
                                      <option value="DC">District of Columbia</option>
                                      <option value="DE">Delaware</option>
                                      <option value="FL">Florida</option>
                                      <option value="GA">Georgia</option>
                                      <option value="HI">Hawaii</option>
                                      <option value="IA">Iowa</option>
                                      <option value="ID">Idaho</option>
                                      <option value="IL">Illinois</option>
                                      <option value="IN">Indiana</option>
                                      <option value="KS">Kansas</option>
                                      <option value="KY">Kentucky</option>
                                      <option value="LA">Louisiana</option>
                                      <option value="MA">Massachusetts</option>
                                      <option value="MD">Maryland</option>
                                      <option value="ME">Maine</option>
                                      <option value="MI">Michigan</option>
                                      <option value="MN">Minnesota</option>
                                      <option value="MO">Missouri</option>
                                      <option value="MS">Mississippi</option>
                                      <option value="MT">Montana</option>
                                      <option value="NC">North Carolina</option>
                                      <option value="ND">North Dakota</option>
                                      <option value="NE">Nebraska</option>
                                      <option value="NH">New Hampshire</option>
                                      <option value="NJ">New Jersey</option>
                                      <option value="NM">New Mexico</option>
                                      <option value="NV">Nevada</option>
                                      <option value="NY">New York</option>
                                      <option value="OH">Ohio</option>
                                      <option value="OK">Oklahoma</option>
                                      <option value="OR">Oregon</option>
                                      <option value="PA">Pennsylvania</option>
                                      <option value="PR">Puerto Rico</option>
                                      <option value="RI">Rhode Island</option>
                                      <option value="SC">South Carolina</option>
                                      <option value="SD">South Dakota</option>
                                      <option value="TN">Tennessee</option>
                                      <option value="TX">Texas</option>
                                      <option value="UT">Utah</option>
                                      <option value="VA">Virginia</option>
                                      <option value="VT">Vermont</option>
                                      <option value="WA">Washington</option>
                                      <option value="WI">Wisconsin</option>
                                      <option value="WV">West Virginia</option>
                                      <option value="WY">Wyoming</option>
                                    </select>
                                  </div>
                              </div>
                              <div class="form-group row-fluid">
                                <div class="col-lg-6">
                                  <label class="georgiaFont lightblue" style="margin-top: 20px;">Zip Code <span>*</span></label><br>
                                  <input autocomplete='postal-code' class="form-control" ng-minlength="3" name="shippingzipcode" type="number" ng-model="shippingzipcode"/>
                                  <span class="error red" ng-show="myForm.shippingzipcode.$error.number">Not a valid zip code</span>
                                </div>
                                <div class="col-lg-6">
                              <!--     <label class="georgiaFont lightblue" style="margin-top: 20px;">Country <span>*</span></label><br>
                                  <input required class="form-control" type="text" ng-minlength="2" name="shippingCountry" ng-model="shippingCountry"/>
                                  <span class="error redFont" ng-show="myForm.shippingCountry.$error.minlength">Required</span> -->
                                </div>
                            </div>


                      <div class="hiddenBilling" ng-show="billingContent">

                        <div class="form-group row-fluid">
                            <div class="col-lg-12">
                                <hr style="width: 100%; font-weight: bold; margin-top: 20px !important; margin-bottom: 10px !important;">
                                <label class="georgiaFont lightblue" style="margin-top: 20px;">Billing Address <span >*</span></label><br>
                                 <input autocomplete='address-line1' class="form-control"  ng-model="billingAddress1"/><br>
                                 <input autocomplete='address-line2' class="form-control" ng-model="billingAddress2"/>
                              </div>
                        </div>
                      <div class="form-group row-fluid">
                          <div class="col-lg-6">
                            <label class="georgiaFont lightblue" style="margin-top: 20px;">Billing City <span>*</span></label><br>
                            <input autocomplete='address-level2' class="form-control" ng-model="billingCity"/>
                          </div>
                           <div class="col-lg-6">
                              <label class="georgiaFont lightblue" style="margin-top: 20px;">Billing State <span>*</span></label>
                              <select autocomplete='address-line3'  class="form-control" id="billingState" ng-model="billingState" name="billingState">
                                <option value="">N/A</option>
                                <option value="AK">Alaska</option>
                                <option value="AL">Alabama</option>
                                <option value="AR">Arkansas</option>
                                <option value="AZ">Arizona</option>
                                <option value="CA">California</option>
                                <option value="CO">Colorado</option>
                                <option value="CT">Connecticut</option>
                                <option value="DC">District of Columbia</option>
                                <option value="DE">Delaware</option>
                                <option value="FL">Florida</option>
                                <option value="GA">Georgia</option>
                                <option value="HI">Hawaii</option>
                                <option value="IA">Iowa</option>
                                <option value="ID">Idaho</option>
                                <option value="IL">Illinois</option>
                                <option value="IN">Indiana</option>
                                <option value="KS">Kansas</option>
                                <option value="KY">Kentucky</option>
                                <option value="LA">Louisiana</option>
                                <option value="MA">Massachusetts</option>
                                <option value="MD">Maryland</option>
                                <option value="ME">Maine</option>
                                <option value="MI">Michigan</option>
                                <option value="MN">Minnesota</option>
                                <option value="MO">Missouri</option>
                                <option value="MS">Mississippi</option>
                                <option value="MT">Montana</option>
                                <option value="NC">North Carolina</option>
                                <option value="ND">North Dakota</option>
                                <option value="NE">Nebraska</option>
                                <option value="NH">New Hampshire</option>
                                <option value="NJ">New Jersey</option>
                                <option value="NM">New Mexico</option>
                                <option value="NV">Nevada</option>
                                <option value="NY">New York</option>
                                <option value="OH">Ohio</option>
                                <option value="OK">Oklahoma</option>
                                <option value="OR">Oregon</option>
                                <option value="PA">Pennsylvania</option>
                                <option value="PR">Puerto Rico</option>
                                <option value="RI">Rhode Island</option>
                                <option value="SC">South Carolina</option>
                                <option value="SD">South Dakota</option>
                                <option value="TN">Tennessee</option>
                                <option value="TX">Texas</option>
                                <option value="UT">Utah</option>
                                <option value="VA">Virginia</option>
                                <option value="VT">Vermont</option>
                                <option value="WA">Washington</option>
                                <option value="WI">Wisconsin</option>
                                <option value="WV">West Virginia</option>
                                <option value="WY">Wyoming</option>
                              </select>
                            </div>
                        </div>
                        <div class="form-group row-fluid">
                          <div class="col-lg-6">
                            <label class="georgiaFont lightblue" style="margin-top: 20px;">Billing Zip Code <span>*</span></label><br>
                            <input autocomplete='address-level1' class="form-control" text="number" ng-model="billingzipcode"/>
                            <span class="red" ng-show="myForm.email.$error.number">Not a valid zip code</span>

                          </div>
                          <div class="col-lg-6">
                            <label class="georgiaFont lightblue" style="margin-top: 20px;">Billing Country <span>*</span></label><br>
                            <input autocomplete='country-name' class="form-control" ng-model="billingCountry"/>
                          </div>
                        </div>
                     </div><!--END HIDDEN SHIPPING FORM-->

                   </div><!--Panel Body-->
                </div>

                <div class="form-group row-fluid">
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 centerSmall">
                       <p class="lightblue georgiaFont">STANDARD GROUND SHIPPING</p>
                       <p class="lightblue georgiaFont">ONLY SHIPS WITHIN THE US</p>
                       <p class="lightblue georgiaFont">CUSTOM ORDERS ARE NON-RETURNABLE</p>
                    </div>
                       <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
                         <p class="lightblue georgiaFont">SUBTOTAL:</p>
                         <p style="opacity: 0;">line item</p>
                         <p class="lightblue georgiaFont">SHIPPING:</p>
                         <p class="lightblue georgiaFont">TOTAL:</p>
                       </div>
                        <div style="text-align: right;" class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
                           <p class="lightblue geogiaFont">$325.00 * {{quantity}}</p>
                           <p class="lightblue georgiaFont">${{firstTotal}}.00</p>
                           <p class="lightblue georgiaFont">$17.00</p>
                           <p class="lightblue georgiaFont">${{result}}.00</p>
                        </div>
                </div>

                <div class="form-group row-fluid specialForm hideForm">
                   <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                   </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">

                        <input autocomplete='cc-number' required type="text" class="form-control" placeholder="Card Number" ng-model="number" payments-format="card" /><br>
                        <input autocomplete='cc-exp' required class="form-control" ng-model="expiry" placeholder="Expiration" payments-format="expiry"/><br>
                        <input autocomplete='cc-csc' required class="form-control" ng-model="cvc" placeholder="CVC"  payments-format="cvc"/>
                        <p style="margin-top: 10px;" class="gerogiaFont errorMessage">{{response}}</p>
                        <button style="float:right; margin-top: 20px;" class="btn btn-primary placeOrder" type="submit">PLACE YOUR ORDER</button>
                    </div>
                </div><!--Special hidden form-->

                <div class="form-group row-fluid" >
                   <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                   </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 centerSmall">
                       <button  style="margin-top: 20px;" type="button" class="btn btn-primary payCard">PAY WITH CARD</button>
                    </div>
                </div>
            </form>

         </div> <!--END BIG Col-lg-6 -->

</div>
          <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12 text-center footerArea2">
              <a href="https://www.instagram.com/rderavenel/" target="_blank"><i class="fa fa-instagram font-awesome-icon"></i></a>
              <a href="https://www.pinterest.com/deravenel/" target="_blank"><i class="fa fa-pinterest font-awesome-icon"></i></a>
              <a href="mailto:info@rebeccaderavenel.com" target="_blank"><i class="fa fa-envelope font-awesome-icon"></i></a>
            </div>
          </div>
          <div class="row" >
            <div class="col-lg-12 text-center" style="padding-top: 20px;" >
              <p class="lightblue site-footer__links tk-copperplate-bold">REBECCA DE RAVENEL LLC, A DELAWARE LIMITED LIABILITY COMPANY, 2017</p>
            </div>
          </div>

</div>



  <script src="js/main.js"></script>

